@import "mixins";
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";



.panel {
  //box-shadow: $panels-shadow;
  box-shadow: $panels-shadow !important;
  @include border-radius (3px);
  border: 0 !important;
}

.allPanels {
  margin-top: 20px;
  margin-bottom: 16px;
   .title h4{
     color: $panels-head;
   }
}

.padding-content {
  padding: 14px 0 0 15px;
}

.space {
  margin-bottom: 20px;
}

span.numberValue {
  font-size: 16px;
}

button{
  background-color: $panels-head;
  border-color: $panels-head;
}

.cursor{
  cursor: pointer;
}

.number,
.title,
.assessment,
.filter,
.bar-header,
.bar-slider,
.title-main,
.assessment-icon  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items:center;
  height: 100%;
}

.button-expand{
  //display: flex;
  //align-items: right;
  //height: 100%;
  //align-self: center;
  //justify-content: center;
  //align-content: center;
}

svg {
  background-color: #313547;
  @include border-radius (50%);
  transform: rotate( -90deg );
}

.pie {
  display: inline-block;
  margin-right: 10px;
  transform: rotate(-90deg );
}

circle {
  fill: #aeaeae;
  //stroke: #45d666;
  stroke-width: 32;
}

.circle {
  fill: #e2282b !important;
  stroke: #45d666 !important;
}



.box-header {
  @include back-color(#fff, $color-black, hidden);
  //-webkit-border-radius: 2px 2px 0 0;
  //-moz-border-radius: 2px 2px 0 0;
  //box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: $panels-shadow;
  height: 80px;
  @include border-radius (2px);
  //border-radius: 2px;

  h4 {
    @include font(400,1.4);
    margin: 5px;
  }

  h2 {
    float: left;
    padding: 10px 0;
  }
  svg {
    @include width-height ($pie-size-big, $pie-size-big);
  }

  .pie {
    @extend svg;
    margin-top: 0;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    &:hover{
      color: #333;
      background-color: #d4d4d4;
      border-color: #8c8c8c;
    }

  }

  //.btn-default:hover {
  //  color: #333;
  //  background-color: #d4d4d4;
  //  border-color: #8c8c8c;
  //}

  .box-icon {
    background: #1e8fc6;
    float: right;
  }
  .filter {
    align-items: center;
    .form-control {
      width: 100%;
    }
  }
  #fastAsses {
    margin-top: 5px;
  }
}

.panels-title {
  .panel-heading {
    padding: 0 15px !important;
  }

    > .row {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  h4 {
    @include font(400,1.4);
    color: $panels-head;
  }

  .box-under-header {
    @include back-color($panels-content, black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    //border-radius: 3px 3px 0 0;
    @include border-radius (3px 3px 0 0);

    > div{
      height: 70px;
    }

    svg {
      @include width-height ($pie-size-md, $pie-size-md);
    }

    .pie {
      @extend svg;
      margin-top: 10px;
    }

    .number {
      align-items: center;
    }

    .assessment {
      padding-left: 12px;
    }
    .button-expand-three{
      height: 70px;

      .row > div {
        padding-left: 0;
      }


      button.up{
        background: $panels-head;
        margin: 4px 0 3px auto;
        display: block;
        border-color: $panels-head;
      }

      button.arrow{
        background: $panels-head;
        float: right;
        border-color: $panels-head;
      }

      button.arrow:disabled{
        background-color: rgb(175, 175, 175);
        border-color: rgb(152, 152, 152);

      }
      .arrow:nth-child(2){
        margin: 0 7px 0 6px;
      }

    }
  }
}

.panel-content {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding-bottom: 0 !important;
  padding-top: 20px !important;


  .hseq.space {
    //cursor: pointer;
  }

  .box-under-header {
    @include back-color($panels-content, $color-black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    height: 70px;
  }

  button{
    background: $panels-head;
    border: $panels-head;
  }

  svg {
    @include width-height ($pie-size-md, $pie-size-md);
  }

  .pie {
    @extend svg;
    margin-top: 10px;
  }



  //button[name=openPanelDetails] {
  //  float: right;
  //  padding: 5px 10px;
  //}
    .box-under-header-sx {
    @include back-color($panels-content, $color-black, hidden);
    //-webkit-border-radius: 2px 2px 0 0;
    //-moz-border-radius: 2px 2px 0 0;
    height: 60px;

    h6 {
      @include font(400,0.8);
    }

    .pie.pull-left {
      margin-top: 15px;
    }

    svg  {
      @include width-height ($pie-size-sx, $pie-size-sx);
    }

    .pie {
      @extend svg;
      align-items:center;
    }

    button{
      background: $panels-head;
    }
  }

  .number .title{
    h5 {
      @include font(400,1.3);
    }
  }

  .title, .assessment-icon, .filter, .button-expand {
    @include border-top-bottom($panels-border);
  }

  .number {
    @include border-top-bottom($panels-head-border);
    @include border-left(3px);
    align-items:center;
    background: $panels-head;
    color: #fff;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .number-not-collapsed {
    @include border-radius (3px 0px 0px 0);
  }


  .bar-slider {
    @include border-top-bottom($panels-border);
  }

  .button-expand {
    @include border-right($panels-border, 3px);
    padding-left: 0 !important;

    button.expand, .btn.btn-primary{
      //margin-left: auto;
    }

    .btn.btn-primary.btn-sm{
      margin-left: auto;

    }

    button[name=expand]{
      float: right;
      margin: 3px 0;
    }

    .btn.btn-primary.expand {
      padding-left: 11px;
      padding-right: 11px;
      float: right;
    }
    .btn.btn-primary.add{
      background-color: #86bfea;
      margin-left:5px;
      //padding: 4px 9px;
      //padding-top: 4px;
      //width: 37px;
    }

    .expand-main-page{
      //margin: 0 auto;
    }
  }

  .button-expand-not-collapsed {
    @include border-radius (0px 3px 0px 0);
  }

  .collapse, .collapsing {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .well{
    margin-top: 0;
    border: 0;
    margin-bottom: 0 !important;
    width: 100%;
    //color: #b3b3b3;
    font-size: 14px;
    min-height: 15px !important;
    padding: 5px 15px !important;
    background-color: #fff !important;
    @include border-radius (0px 0px 3px 3px);

    table{
      margin-bottom: 0;
      thead{
        @include tr-size(5%,35%, 25%, 35%, 10%);
        color: #aeaeae;

        .btn.btn-primary.add{
          background-color: #86bfea;
        }

        tr {
          th{
            border-bottom: 0;
            font-weight: normal;
            vertical-align: middle;
          }
        }
      }
      tbody{
        tr {
          th{
            color: #aeaeae;
          }
        }
      }
    }
    .buttons{
      display: flex;
    }

    button {
      width: 37px;
    }
    button:nth-child(1){
        margin: 5px 0 5px auto;
      }
    button:nth-child(2){
      margin: 5px 0 5px 5px;
    }
  }
}

.bar-header {
  @include border-top-bottom($panels-border);
}

.panel-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.active-input {
//background-color: #78afda !important;
background-color: #86bfea !important;
}


.panel-content, .panel-heading{
  .labelColor {
    @include  border-top-bottom($label);
    background-color: $label;
    h4 {
      color: white;
    }
  }
}

.titleColor {
  //border: 1px solid $label !important;
  //box-shadow: 0 0 10px rgba(84, 166, 230, 0.5)
  > div:not(:first-child):not(:last-child)  {
    background-color: #f3f3f3;
  }
}

.hseq.space:hover{
 >  div:not(:first-child):not(:last-child) {
    background-color: #f3f3f3;
  }
}

@keyframes fillup {
  to {
    stroke-dasharray: 158 158;
  }
}


#removeAssessAlert, #saveAssessAlert {
  margin: 10px;
}

#collapseEvidence {
  z-index: 10000;
  margin-right: -2px;
}

#collapseEvidence .well{
  margin-top: 1px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  width: 100%;
  //border: 1px solid #acacac !important;
  color: #b3b3b3;
  font-size: 16px;
  min-height: 15px !important;
  padding: 15px !important;
  background-color: #fff !important;

}

button[name='search'] {
  margin: 10px 7px 10px 0;
  //background-color: $panels-head;
  //border: 2px solid #fff;
}




[id^=collapsePanelDetails], [id^=collapseEvidence] {

  [id^=tabsPanels]{
    padding: 15px 0;
    margin-bottom: 0 !important;
    width: 100%;
    min-height: 15px !important;
    background-color: #fff !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 0;
    border-top: 0;
    font-size: 14px;
    @include border-radius (0px 0px 3px 3px);
  }



  .editable_text {
    border: 1px solid rgb(185, 185, 185);
    min-height: 50px;
    padding: 2px;
    margin-bottom: 5px;
  }


    .editable_text {
      height: 100%;
      padding: 5px;
    }

    textarea {
      width: 100%;
      overflow: visible;
    }


  .text:hover {
    border: 1px solid #c9c9c9;
  }

  .addedComment {
    word-wrap: break-word;
  }

  #removeAssess, #saveAssess, #removeAssessAlert, #saveAssessAlert {
    margin: 10px;
  }

  .addedCom, .editable_text {
    border: 1px solid rgb(185, 185, 185);
    min-height: 50px;
    padding: 2px;
    margin-bottom: 5px;
  }
  li.active a {
    background-color: $label !important;
  }

  .nav-pills > li > a {
    border-radius: 3px;
  }

}



