//http://startbootstrap.com/template-overviews/simple-sidebar/
//http://stackoverflow.com/questions/19733447/bootstrap-navbar-with-left-center-and-right-aligned-items

/* Toggle Styles */
@import "mixins";

#logo{
  //float: left;
}

#menu-toggle,#menu-toggle-2, #main-menu{
  @include width-height(40px, 40px);
}

#menu-toggle {
  float: none;
}

#menu-toggle:focus, #menu-toggle-2:focus {
  @include background-border(#ddd,1px,#ddd);
  span {
    color: #888;
  }
}

#menu-toggle,#menu-toggle-2 {
  @include background-border($panels-head,1px,#fff);
  @include padding-left-right (13px, 13px);
}

#main-menu{
  @include background-border(transparent,1px,#fff);
  @include padding-left-right (8px, 8px);
  .icon-bar {
    background-color: #fff;
  }
  &:hover, &:focus{
    @include background-border(#ddd,1px,#ddd);
    .icon-bar {
      background-color: #888;
    }
  }
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover {
  //color: #555;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:focus{
  color: #555;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #555;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 100% !important;
}

.navbar-right{
  margin-right: -2px;
}

//navbar-defaul

nav {
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  background: $panels-head !important;
  color: #fff;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: $content
}

#bs-example-navbar-collapse-1 {
  float: left;
}



//.navbar-default .navbar-toggle {
//  border-color: #ddd;
//}
//
//.navbar-default .navbar-toggle:hover {
//  border-color: #ddd;
//  color: $sidebar-color;
//}


#wrapper {
  @include transition;
  @include width-height(100%, 100%);
  padding-left: 0;
  overflow: hidden;
  background-color: #fcfcfc;

  .toggled {
    padding-left: 400px;
    overflow: scroll;
  }

  .toggled #sidebar-wrapper {
    //width: 250px;
    width: 400px;
  }

  .toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#sidebar-wrapper {
  @include transition();
  @include width-height(0, 100%);
  @include  back-color($sidebar-color, rgba(255,255,255,.7), hidden );
  margin: 57px 0 57px -400px;
  z-index: 1000;
  position: fixed;
  left: 400px;
  overflow-y: scroll;
  border-right: 1px solid #e7e7e7;

  a {
    color: rgba(255,255,255,.7);
  }

  ul:not(:first-child) {
    padding-left: 15px;
    list-style-type: none;
  }
}

#sidebar-wrapper::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  @include background-border($sidebar-color,20px, $sidebar-color);
}

#sidebar-wrapper::-webkit-scrollbar {
  @include background-border($sidebar-color,1pxpx, $sidebar-color);
  width: 10px;
  left: 400px;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
  @include background-border($sidebar-color,2px, $sidebar-color);
  border-radius: 10px;
  transition: background-color .2s linear;
}

#sidebar-wrapper:hover::-webkit-scrollbar-thumb {
  background:rgba(176,176,176,0.6) !important;
  border-radius: 10px;
  opacity: 0.5;
}

//#page-content-wrapper {
//  //position: absolute;
//  //padding: 15px;
//  width: 100%;
//  //overflow-x: hidden;
//  height: 100%;
//  //background-color: #fcfcfc;
//  margin-top: 55px
//}
#page-content-wrapper {
  @include transition;
  @include width-height(100%, 100%);
  //overflow-x: hidden;
  //background-color: #fcfcfc;
  margin-top: 55px;
  position: relative;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}
#wrapper.toggled-2 #page-content-wrapper {
  @include transition;
  width: auto;
}


.xyz{
  min-width: 360px;
  @include width-height(100%, 100%);
}

.fixed-brand{
  width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  //width: 250px;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 100px;


  ul {
    margin-left: 0;
    font-size: 14px;
    font-weight: 500;
  }

  li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 0;
    position:relative;
  }

  a {
    text-decoration: none;
  }

  li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
  }
  li::before {
    bottom:50px;
    height:100%;
    top:0;
    width:1px
  }
  li::after {
    height:20px;
    top:25px;
    width:25px
  }
  li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
  }

  .title-norsta {
    padding: 3px 0 !important;

  }
  li.parent_li>span {
    cursor:pointer
  }
  >ul>li::before, ul>li::after {
    border:0
  }

  li:last-child::before {
    height:30px
  }
  .margines {
    margin-left: 20px;
  }

  .block {
    display: inline-block;
    float: left;
  }

  .next-block{
    width: 85%;
    padding: 3px 0 !important;
  }

  li a:hover {
    text-decoration: none;
    outline: 0;
    color: #000;
    background: rgba(255,255,255,0.2);
    border-left: #337ab7 2px solid;
  }

   li a:active, li a:focus {
    text-decoration: none;

  }

    > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
}

//.sidebar-nav li {
//  //text-indent: 15px;
//  line-height: 40px;
//}

//.sidebar-nav li a {
//  display: block;
//  text-decoration: none;
//  color: #999999;
//}


.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin{
  margin:0;
}

.navbar {
  border-radius: 0;
}

.fixed-brand{
  //width: 100px;
}
#wrapper.toggled {
  padding-left: 0;
}

//#wrapper.toggled-2 #sidebar-wrapper {
//  width: 35px;
//}


.nav-pills.nav-stacked {
  padding-left: 10px;
}


.white-icon {
  color: white;
}




