ul.sidebar-nav.nav-pills.nav-stacked
    li
      span.title-norsta
        i.glyphicon.glyphicon-chevron-down
        |  NOR-STA
      //a(href='') Goes somewhere
      ul.nav-pills.nav-stacked(style='list-style-type:none;')
        li
          span
            i.glyphicon.glyphicon-chevron-down
          a.claim-hseqA(href='') Ocena zgodności Systemu Zarządzania Bezpieczeństwem Informacji z wymaganiami ISO 27001:2014
          ul
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA5(href='#') A5 Polityki bezpieczeństwa informacji
              ul
                li
                  span.margines
                    i
                  a.claim-hseqA511(href='') A5.1.1 Polityki bezpieczeństwa informacji
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA6(href='#') A6 Organizacja bezpieczeństwa informacji
              ul
                li
                  span.margines
                    i
                  a.claim-hseqA61(href='') A6.1 Organizacja wewnętrzna bezpieczeństwa informacji
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA7(href='#') A7 Bezpieczeństwo zasobów ludzkich
              ul
                li
                  span
                    i.glyphicon.glyphicon-chevron-down
                  a.claim-hseqA71(href='') A7.1 Przed zatrudnieniem
                  ul
                    li
                      span.block
                        i.glyphicon.glyphicon-chevron-down
                      span.next-block
                        a.claim-hseqA711(href='') A7.1.1 Postępowanie sprawdzające
                      ul
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down
                          span.next-block
                            a.claim-hseqA711a(href='') A7.1.1a Wymagania dotyczące kandydatów
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down.white-icon
                          span.next-block
                            a.claim-hseqA711b(href='') A7.1.1b Weryfikacja kandydatów
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down.white-icon
                          span.next-block
                            a.claim-hseqA711c(href='') A7.1.1c Przechowywanie danych o kandydatach
                        li
                          span.block
                            i.glyphicon.glyphicon-chevron-down.white-icon
                          span.next-block
                            a.claim-hseqA711d(href='') A7.1.1d Dozwolone użycie danych o kandydatach
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA8(href='#') A8 Zarządzanie aktywami
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA9(href='#') A9 Kontrola dostępu
              ul
                li
                  span.margines
                    i
                  a.claim-hseqA91(href='') A91. Goes somewhere
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA10(href='#') A10 Kryptografia
              ul
                li
                  span.margines
                    i
                  a.claim-hseqA1011(href='') A10.1.1 Polityka stosowania zabezpieczeń kryptograficznych
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA11(href='#') A11 Bezpieczeństwo fizyczne i środowiskowe
              ul
                li
                  span.margines
                    i
                  a.claim-hseqA111(href='') A11.1 Obszary bezpieczeństwa
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA12(href='#') A12 Bezpieczna eksploatacja
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA13(href='#') A13 Bezpieczeństwo komunikacji
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA14(href='#') A14 Pozyskiwanie, rozwój i utrzymanie systemów
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA15(href='#') A15 Relacje z dostawcami
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA16(href='#') A16 Zarządzanie incydentami
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA17(href='#') A17 Ciągłość działania
            li
              span
                i.glyphicon.glyphicon-chevron-down
              a.claim-hseqA18(href='#') A18 Zgodność
