//.row.panel-hseq4-1.hseq.space(data-hseq="")
//  .col-md-1.col-sm-1.box-under-header-sx.pull-left.number
//    h5 4.1
//  .col-md-4-3.col-sm-10.box-under-header-sx.pull-left.title
//    a.title-hseq4-1(href='#')
//      h5 Procesy Związane z Klientem
//  .col-md-1.col-sm-1.box-under-header-sx.filter
//  .col-md-3.box-under-header-sx.assessment-icon
//    .row
//      .col-md-4.col-sm-4
//        .pie.pull-left(data-name='rangeslider41') 60%
//      .col-md-4.col-sm-4
//        h6 Wynik
//        h6 Oceniono
//      .col-md-4.col-sm-4
//        h6.text-left.numberValue41 0/179
//        h6.text-left.numberValue-per41 0%
//  .col-md-2.col-sm-5.box-under-header-sx.bar
//    span.numberValue41.numberValue 0/179
//    input.slider(value='0', min='0', max='179', step='1', name='rangeslider41', data-parent='4', type='range', disabled)
//  .col-md-1-2.col-sm-2.box-under-header-sx.button-expand
//    button.claim-hseq4-1.btn.btn-primary.btn-sm.custom-btn(type='button') Rozwiń
