
.col-xl-9.col-lg-9.col-md-12.col-sm-12.col-xs-12.pull-left.padding-content

#myModal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Potwierdzenie
          .modal-body Czy chcesz zapisać zmiany?
          .modal-footer
            button(type="button" id="removeAssessAlert" class="btn btn-primary btn-sm pull-right") Anuluj ocenę
            button(type="button" id="saveAssessAlert" class="btn btn-primary btn-sm pull-right") Zapisz ocenę


#modalEvidence.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#modalEvidenceLabel.modal-title Załączanie dowodu
      .modal-body
        p.title Wybierz nowy dowód
        .form-group
          label(for='textareaNameEvid') Nazwa
          textarea#textareaNameEvid.form-control(rows='1' placeholder='Wpisz nazwę')
        .form-group
          input.file(type='file', name='')
          .input-group.col-xs-12
            input.form-control.name-evid(type='text', disabled='', placeholder='Dodaj dokument')
            span.input-group-btn
              button.browse.btn.btn-primary(type='button')
                i.glyphicon.glyphicon-search
                |  Przeglądaj
        hr
        p.title Wybierz istniejący dowód
        .row
          .col-md-12.col-ms-12.col-xs-12
              table.table.table-condensed
                thead
                  tr
                    th
                    th Nazwa pliku
                    th Data przesłania
                    th
              .div-table-content
                table.table.table-condensed.modal-tabel-evidences
                  tbody
                    tr
                      td 1
                      td Dowód 1
                      td.hidden
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Podgląd
                    tr
                      td 2
                      td Dowód 2
                      td.hidden
                      td 2011-11-17 20:35:08
                      td
                        button.btn.btn-primary.btn-sm(type='button') Podgląd
      .modal-footer
        button.save-new-evid.btn.btn-primary.btn-sm(type='submit') Zapisz
        button.btn.btn-primary.btn-sm.pull-right(type="button" id="saveEvidence" data-dismiss="modal") Anuluj

#myProfile.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myProfileLabel.modal-title Profil
      .modal-body
        .row
          .col-md-12.col-ms-12.col-xs-12
            form.form-horizontal(role='form')
              fieldset
                .form-group
                  label.col-sm-4.control-label(for='name') Nazwa uzytkownika
                  .col-sm-8
                    input#name.form-control(type='text', placeholder='Nazwa uzytkownika')
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='login') Pełna nazwa
                  .col-sm-8
                    input#login.form-control(type='text', placeholder='Pełna nazwa')
                // Text input
                .form-group
                  label.col-sm-4.control-label(for='organization') Organizacja
                  .col-sm-8
                    input#organization.form-control(type='text', placeholder='Organizacja')
                .form-group
                  label.col-sm-4.control-label(for='email') E-mail
                  .col-sm-8
                    input#email.form-control(type='text', placeholder='E-mail')
                .form-group
                  label.col-sm-4.control-label(for='phone') Telefon
                  .col-sm-8
                    input#phone.form-control(type='text', placeholder='Telefon')
                .form-group
                  label.col-sm-4.control-label(for='language') Język
                  .col-sm-8
                    select#language.form-control(name='language')
                      option(value='PL') polski
                      option(value='EN') angielski
                .form-group
                  label.col-sm-4.control-label(for='project') Domyślny projekt
                  .col-sm-8
                    select#project.form-control(name='project')
                      option(value='') Projekt 1
                      option(value='') Projekt 2
                      option(value='') Projekt 3
                      option(value='') Projekt 4
                      option(value='') Projekt 5
                .form-group
                  label.col-sm-4.control-label(for='role') Rola systemowa
                  .col-sm-8
                    input#role.form-control(type='text', placeholder='Rola systemowa')
                .form-group
                  label.col-sm-4.control-label(for='home-folder') Folder domowy
                  .col-sm-8
                    input#home-folder.form-control(type='text', placeholder='Folder domowy')
                .form-group
                  label.col-sm-4.control-label Autoryzacja
                  .col-sm-4
                    input(type='checkbox')
                    |Active Directory
                  .col-sm-4
                    input(type='checkbox')
                    |NOR-STA
                .form-group
                  label.col-sm-4.control-label Zmień hasło
                  .col-sm-8
                    input#change-password(type='checkbox')
                .form-group
                  label.col-sm-4.control-label(for='password') Hasło
                  .col-sm-8
                    input#password.form-control(type='text', placeholder='Hasło')
                .form-group
                  label.col-sm-4.control-label(for='repeat-password') Powtórz hasło
                  .col-sm-8
                    input#repeat-password.form-control(type='text', placeholder='Powtórz hasło')
                .form-group
                  label.col-sm-4.control-label Siła hasła
                  .col-sm-8
                    //input#password-strength.form-control(type='text', placeholder='Powtórz hasło')
                .form-group
                  label.col-sm-4.control-label Panel szczegółów
                  .col-sm-8
                    button.btn.btn-primary(type='button') Przywróć ustawienia domyślne
                .form-group
                  .col-sm-12.control-label
                    input(type='checkbox')
                    | Pokaż ocenę przy otwarciu argumentu
                .form-group
                  .col-sm-12.control-label
                    input(type='checkbox')
                    | Pokaż panel zmian przy wejściu do projekt
      .modal-footer
        button.btn.btn-default(type='submit', data-dismiss='modal') OK
        button.btn.btn-primary(type='submit') Zastosuj
        button.btn.btn-primary(type='submit') Anuluj

include ../right-panels

